<!DOCTYPE html>
<html lang="en">
<head>
  <title>Welcome to Vendor Order</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="~/css/splash.css">
  <script src="~/js/scripts.js"></script>
</head>
<body>
  <div id="wrapper">
  <div id="header">
    Vendor Order Manager
  </div>
  <div class="container">
    <div class="jumbotron">
      <h1 class="display-4">Hello, Pierre!</h1>
      <p class="lead">Welcome to Vendor Order Manager!</p>
      <hr class="my-1">
      <p>It is currently: <span id= "clock"></span></p>
      <p class="lead">
        <a class="bt btn-primary btn-lg" href="/vendors" role="button">Start</a>
      </p>
    </div>
    <div id="footer">v.0.0.1</div>
  </div>
</div>
</body>
</html>
