@{
  Layout = "_Layout";
}

<h3>New Order for @Model.Name</h3>

<form action="/vendors/@Model.Id/orders" method="post">
  <input name="vendorId" id="vendorId" type="hidden" value="@Model.Id">
  <label for="item">Item: </label>
  <input id="item" name="item" type="text">
  <label for="description">Description: </label>
  <input id="description" name="description" type="text">
  <label for="Amount">Amount: </label>
  <input id="Amount" name="Amount" type="number">
  <label for="cost">Cost: </label>
  <input id="cost" name="cost" type="number" step="0.01">
  <label for="date">Date: </label>
  <input id="date" name="date" type="date">
  <button type='submit'>Add Item</button>
</form>